@font-face {
  font-family: "Cormorant";
  src: local("Cormorant-VariableFont_wght"),
    url(../components//shared/fonts/Cormorant-VariableFont_wght.ttf)
      format("truetype");
}

html {
  scroll-behavior: smooth;
}
